body , html{
    background-color: #e9ecef;
   
}


section {
    margin-top: 300px;
}

/* navigation bar */

#navbar {
    position: fixed;
    background-color: #e9ecef; 
    
    
 
}

.nav-links {
    color: #343a40;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-links:hover {
    color: #6c757d;
    transition: all 0.3s ease-in-out;
}



/*Desktop Menu*/



/* Slide-out Drawer (from Top) */
#drawer {
    padding-bottom: 50px;
    background-color: #6c757d;
}

#drawer:hover {
    background-color: #343a40;
    color: #e9ecef;
    transition: all 0.3s ease-in-out;
}

#menu-btn {
    background-color: #343a40;
    opacity: 0.5;
}

#close-btn {
    color: #e9ecef;
    
}


/*Hero Section */
#hero {
    margin-top: 300px;
    background-color: #ced4da;
    background-size: cover;
}

#sub-tagline {
    color: #343a40;
    font-size: 1.2rem;
    
}

#Get-started-button {
    background-color: #343a40;
    color:#ced4da;
}

#Get-started-button:hover {
    background-color: #6c757d;
    color: #f8f9fa;
}
/*Icons */
@keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .animate-scroll {
    animation: scroll 15s linear infinite;
  }


/* About Section */

#about {
    margin-top: 80px;
    background-color: #343a40;
    color: #e9ecef;
}


/* Services Section */
#services {
    margin-top: 80px;
    background-color: #dee2e6;
    color: #e9ecef;

}

#Services-header {
    color: #495057;;
}

#service-card {
    background-color: #6c757d;
    color: #e9ecef;
}

/* Offer section */

#offers {
    margin-top: 80px;
    margin: 30px;
    background-color: #495057;
    background-size: cover;
    color: #e9ecef;
}

#offer-container {
    background-color: #6c757d;
    color: #e9ecef;
    padding: 30px;
}

#offer-header {
    color: #ced4da;
}

#sub-text-offer {
    color: #ced4da;
    font-size: 1.2rem;
}

.offer-card{
    margin-bottom: 20px;
    background-color: #ced4da;
    padding: 20px;
    color:#343a40;
    
}

.sub-text-offer {
    color:#343a40;
    font-size: 1.2rem;
}




/* Contact Section */

#contact-header {
    color: #343a40;
    text-align: center;
    padding-top: 150px;
}

#contact {
    margin-top: 80px;
    background-color: #343a40;
    color: #e9ecef;
}

/* TailwindCSS Custom Animation */

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out both;
  }

  .delay-200 {
    animation-delay: 0.2s;
  }

  /* Footer Section */

  #footer {
    background-color: #343a40;
    color: #e9ecef;
    padding: 20px;
    text-align: center;
    position: relative; 
  }

